@(loginForm: Form[controllers.User])(implicit lang: play.api.i18n.Lang, request: play.api.mvc.RequestHeader)
@import play.api.i18n.Messages
@import helper._
@import helper.noinfo._
@layout.simple("login") {@* Head *@
} {@* Body *@
<div class="row-fluid"><div class="span1"></div><div class="span10 ui-widget-header"><h3>@Messages("login.title")</h3></div></div>

<div class="row-fluid">
<div class="span1"></div>
<div class="span10 well">
<fieldset>
	@helper.form(action = routes.LoginCtrls.login, 'id -> "login-form") {
		@inputText(loginForm("uid"))
		@inputPassword(loginForm("pass"))
		<input type='submit' class='btn btn-primary' value='@Messages("login.btn")'/>
	}
</fieldset>
</div>
</div>
<script>
$(document).ready(function() {
	$('#login-form').submit(function() {
		snavi.ajax.post('login-form', 'contains-body');
		return false;
	});
});
</script>
}